/* Tables and Cells */
table {border-collapse:collapse;}
td {empty-cells: show;}
.w_fullheight {height:100%;}
/* w_table styled tables */
table.w_formtable {
    border-collapse: collapse;
    border-spacing: 0;
}
table.w_formtable td, table.w_formtable th {
    padding: 3px 3px 0 3px;
    font-family:arial;
    font-size:11pt;
}

table.w_table td{
	padding: 4px;
}
table.w_table.w_nopad td{
	padding: 0px;
}
table.w_table {
    border-collapse: collapse;
    border-spacing: 0;
}
table.w_table.w_border{
	border-color:#ccc;
}
table.w_table tr:nth-child(even){
	background:#f8f8f8;
}
table.w_table.w_border{
	border:1px solid #CCC;
}
table.w_table.w_border td, table.w_table.w_border th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

table.w_table th {
	background-color:#a7a8a9;
}
table.w_table.w_border td:first-child {
	border-left:none;
}
/* first row, last cell */
table.w_table.w_border tr:first-child th:last-child {
    border-right: none;
}
/* last row, first cell */
table.w_table.w_border tr:last-child th:first-child {
    border-left: none;
}
/* last row, last cell */
table.w_table.w_border th:last-child {
    border-right: none;
}
/* Sortable tables by adding sorttable as a class */
table.sortable thead tr th {
	cursor:pointer;
	}
table th a {
	display:block;
	}

/* resizable */
.w_resize {
     overflow: hidden;
     resize: both;
     min-width: 10px;
     min-height: 10px;
}

/*alignment classes*/
.w_top{
	vertical-align:middle;
	}
.w_middle{
	vertical-align:middle;
	}
.w_bottom{
	vertical-align:middle;
	}
/* horizontal center */
.w_hcenter{
	margin-left: auto;
    margin-right: auto;
    text-align:center;
}
/* vertical center */
.w_vcenter{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*drowdown menu*/
.w_dropdown{
	background:#FFF;
	border:1px solid #CCC;
	z-index:99999 !important;
	[safari|chrome]-webkit-border-bottom-left-radius: 7px;
	-khtml-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
	[safari|chrome]-webkit-border-bottom-right-radius: 7px;
	-khtml-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;
	padding:0 3px 5px 3px;
}

/*w_buildonload - used with function buildOnLoad(); */
.w_buildonload{
	display:none;
}
/*w_infobox - use with function buildInfoBox($params);*/
#w_infobox {
    position: relative;
    width: 390px;
    z-index: 1;
    color: #D0D5D8;
    padding-bottom:15px;
    background-color:#335577;
}
#w_infobox_topleft{
	position:absolute;
	top:0px;
	left:0px;
	width:25px;
	height:15px;
	border-top-right-radius:25px 15px;
	background-color:#FFF;
}
#w_infobox_topright{
	position:absolute;
	top:0px;
	right:0px;
	width:25px;
	height:15px;
	border-top-left-radius:25px 15px;
	background-color:#FFF;
}
#w_infobox_content{
    height: 50px;
    background-color:#335577;
    overflow: hidden;
    position: absolute;
    left:25px;
    top:15px;
    width:322px;
    padding:9px;
    /*round bottom left corner*/
    border-bottom-left-radius: 13px 13px;
	/*round bottom right corner*/
	border-bottom-right-radius: 13px 13px;
}
#w_infobox_content_top{
	height: 60px;
	overflow:hidden;
	position:relative;
}
#w_infobox_content_bottom{
	height: 150px;
	overflow:hidden;
	position:relative;
}
.w_boxlink {
	color:#6699cc;
	font-size:12px;
	padding:0px;
	border:1px solid #6699cc;
	text-decoration:none;
	}
.w_boxlink:hover {background-color:#E2EAFC;}

/*CSS for Mobile Phones*/
.w_mobilebody {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    color: #000000;
    [safari|chrome]-webkit-text-size-adjust: none;
    height: auto;
    min-height: 415px;
    [safari|chrome]-webkit-transition-duration: 300ms;
    [safari|chrome]-webkit-transition-property: -webkit-transform;
    [safari|chrome]-webkit-transform: translateX(0%);
	}
.w_mobilebody[orient="landscape"] > *:not(.toolbar) {
    height: auto;
    min-height: 268px;
	}
.w_mobilemenu{
	background:url(/wfiles/toolbar.png) #6d84a2 repeat-x;
	font-size:18px;
	color:#FFFFFF;
	}
.w_mobilemenu a{
	color:#FFFFFF;
	text-decoration:none;
    }

/* Special Effects: Rounded corners and boxes*/
/* NOTE: Support for -moz-border-radius was removed in Gecko 13.0 (Firefox 13.0 / Thunderbird 13.0) */

.w_transition {
	-webkit-transition: all 0.2s ease-in-out;
	[firefox]-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.w_roundsmall {
	[safari|chrome]-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	}
.w_round {
	[safari|chrome]-webkit-border-radius: 13px;
	-khtml-border-radius: 13px;
	border-radius: 13px;
	}
.w_roundbig {
	[safari|chrome]-webkit-border-radius: 19px;
	-khtml-border-radius: 19px;
	border-radius: 19px;
	}
.w_round_topleft {
	[safari|chrome]-webkit-border-top-left-radius: 13px;
	-khtml-border-radius-topleft: 13px;
	border-top-left-radius: 13px;
	}
.w_round_topright {
	[safari|chrome]-webkit-border-top-right-radius: 13px;
	-khtml-border-radius-topright: 13px;	
	border-top-right-radius: 13px;
	}
.w_round_botleft {
	[safari|chrome]-webkit-border-bottom-left-radius: 13px;
	-khtml-border-radius-bottomleft: 13px;
	border-bottom-left-radius: 13px;
	}
.w_round_botright {
	[safari|chrome]-webkit-border-bottom-right-radius: 13px;
	-khtml-border-radius-bottomright: 13px;
	border-bottom-right-radius: 13px;
	}
.w_roundsmall_topleft {
	[safari|chrome]-webkit-border-top-left-radius: 7px;
	-khtml-border-radius-topleft: 7px;	
	border-top-left-radius: 7px;
	}
.w_roundsmall_topright {
	[safari|chrome]-webkit-border-top-right-radius: 7px;
	-khtml-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	}
.w_roundsmall_botleft {
	[safari|chrome]-webkit-border-bottom-left-radius: 7px;
	-khtml-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
	}
.w_roundsmall_botright {
	[safari|chrome]-webkit-border-bottom-right-radius: 7px;
	-khtml-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;
	}

.w_signature{
	border:1px dashed #555555;
	border-bottom:2px solid #555555;
	[safari|chrome]-webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	[safari|chrome]-webkit-border-top-right-radius: 5px;
	-khtml-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	cursor:crosshair;
}
.w_signature:active{
	cursor:crosshair;
}
.w_shadow{
	box-shadow:0px 5px 20px #8C8C8C;
	[safari|chrome]-webkit-box-shadow:0px 5px 20px #8C8C8C;
	}

/* slideshow transitions for slideshow behavior */
.w_slideshow {
	position:relative;
	z-index:850;
}
.w_slideshow .caption{
	position:absolute;
	bottom:5px;
	z-index:851;
	font-size:2em;
	color:#FFF;
	margin:0 auto;
	background-color: rgba(200,200,200,0.5);

}
.w_slideshow #w_slide{
	position:absolute;
	opacity:0;
   	filter: alpha(opacity=0);
  	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}


.w_slideshow #w_slide.opaque {
	opacity:1.0;
  	filter: alpha(opacity=100);
  	z-index:840;

}
/* slideshow: rotate */
.w_slideshow #w_slide.opaque[data-transition="rotate"]{
	-webkit-transition: all 1.5s ease-in-out, -webkit-transform 1.5s;
	-moz-transition: all 1.5s ease-in-out, -moz-transform 1.5s;
	-o-transition: all 1.5s ease-in-out, -o-transform 1.5s;
	transition: all 1.5s ease-in-out, transform 1.5s;
	-webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
/* Reference: http://www.justinaguilar.com/animations */
/* slideshow: slide left */
.w_slideshow #w_slide.opaque[data-transition="slide left"]{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
@keyframes slideLeft {
	0% {z-index:0;transform: translateX(150%);}
	100% {z-index:800;transform: translateX(0%);}
}
@-webkit-keyframes slideLeft {
	0% {z-index:0;-webkit-transform: translateX(150%);}
	100% {z-index:800;-webkit-transform: translateX(0%);}
}
/* slideshow: slide right */
.w_slideshow #w_slide.opaque[data-transition="slide right"]{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
@keyframes slideRight {
	0% {z-index:0;transform: translateX(-150%);}
	100% {z-index:800;transform: translateX(0%);}
}
@-webkit-keyframes slideRight {
	0% {z-index:0;-webkit-transform: translateX(-150%);}
	100% {z-index:800;-webkit-transform: translateX(0%);}
}
/* slideshow: slide up */
.w_slideshow #w_slide.opaque[data-transition="slide up"]{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
}
@keyframes slideUp {
	0% {z-index:0;transform: translateY(50%);}
	100% {z-index:800;transform: translateY(0%);}
}
@-webkit-keyframes slideUp {
	0% {z-index:0;-webkit-transform: translateY(50%);}
	100% {z-index:800;-webkit-transform: translateY(0%);}
}

/* slideshow: slide down */
.w_slideshow #w_slide.opaque[data-transition="slide down"]{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
}
@keyframes slideDown {
	0% {z-index:0;transform: translateY(-100%);}
	100% {z-index:800;transform: translateY(0%);}
}
@-webkit-keyframes slideDown {
	0% {z-index:0;-webkit-transform: translateY(-100%);}
	100% {z-index:800;-webkit-transform: translateY(0%);}
}

/* slideshow: fade in */
.w_slideshow #w_slide.opaque[data-transition="fade in"]{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes fadeIn {
	0% { -webkit-transform: scale(0);opacity: 0; }
	20% { -webkit-transform: scale(0);opacity: 0; }
	40% { -webkit-transform: scale(0.3);opacity: 0.3; }
	60% { -webkit-transform: scale(0.5);opacity: 0.5; }
	80% { -webkit-transform: scale(0.9);opacity: 0.9; }
	100% { -webkit-transform: scale(1);opacity: 1; }
}

@keyframes fadeIn {
	0% { transform: scale(0);opacity: 0; }
	20% { transform: scale(0);opacity: 0; }
	40% { transform: scale(0.3);opacity: 0.3; }
	60% { transform: scale(0.5);opacity: 0.5; }
	80% { transform: scale(0.9);opacity: 0.9; }
	100% { transform: scale(1);opacity: 1; }
}

@-webkit-keyframes fadeOut {
	0% { -webkit-transform: scale(1);opacity: 1; }
	20% { -webkit-transform: scale(0.9);opacity: 0.9; }
	40% { -webkit-transform: scale(0.5);opacity: 0.5; }
	60% { -webkit-transform: scale(0.3);opacity: 0.3; }
	80% { -webkit-transform: scale(0);opacity: 0; }
	100% { -webkit-transform: scale(0);opacity: 0; }
}

@keyframes fadeOut {
	0% { transform: scale(1);opacity: 1; }
	20% { transform: scale(0.9);opacity: 0.9; }
	40% { transform: scale(0.5);opacity: 0.5; }
	60% { transform: scale(0.3);opacity: 0.3; }
	80% { transform: scale(0);opacity: 0; }
	100% { transform: scale(0);opacity: 0; }
}


/* slideshow: pull up */
.w_slideshow #w_slide.opaque[data-transition="pull up"]{
	animation-name: pullUp;
	-webkit-animation-name: pullUp;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 		
}
@keyframes pullUp {
	0% {z-index:0;transform: scaleY(0.1);}
	100% {z-index:800;transform: scaleY(1);}
}
@-webkit-keyframes pullUp {
	0% {z-index:0;-webkit-transform: scaleY(0.1);}
	100% {z-index:800;-webkit-transform: scaleY(1);}
}
/* slideshow: pull down */
.w_slideshow #w_slide.opaque[data-transition="pull down"]{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%; 		
}
@keyframes pullDown {
	0% {z-index:0;transform: scaleY(0.1);}
	100% {z-index:800;transform: scaleY(1);}
}
@-webkit-keyframes pullDown {
	0% {z-index:0;-webkit-transform: scaleY(0.1);}
	100% {z-index:800;-webkit-transform: scaleY(1);}
}
/* slideshow: stretch left */
.w_slideshow #w_slide.opaque[data-transition="stretch left"]{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
}
@keyframes stretchLeft {
	0% {z-index:0;transform: scaleX(0.3);}
	100% {z-index:800;transform: scaleX(1);}
}
@-webkit-keyframes stretchLeft {
	0% {z-index:0;-webkit-transform: scaleX(0.3);}
	100% {z-index:800;-webkit-transform: scaleX(1);}
}
/* slideshow: stretch right */
.w_slideshow #w_slide.opaque[data-transition="stretch right"]{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 		
}
@keyframes stretchRight {
	0% {z-index:0;transform: scaleX(0.3);}
	100% {z-index:800;transform: scaleX(1);}
}
@-webkit-keyframes stretchRight {
	0% {z-index:0;-webkit-transform: scaleX(0.3);}
	100% {z-index:800;-webkit-transform: scaleX(1);}
}
/* slideshow nav */
.w_slideshow_nav{
	z-index:99999;
}
.w_slideshow_nav div{
	background-color:#000;
	margin:1px 5px 1px 5px;
	cursor:pointer;
	box-shadow:0px 3px 10px #8C8C8C;
	[safari|chrome]-webkit-box-shadow:0px 3px 10px #8C8C8C;
	[safari|chrome]-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;
	width:20px;
	height:10px;
}
.w_slideshow_nav div[class="active"]{
	background-color:#fff;
}





.w_boxshadow {
	[safari|chrome]-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}
.w_textshadow {
	[safari|chrome]-webkit-text-shadow: 3px 3px 4px #000;
	text-shadow: 3px 3px 4px #000;
	}
/* Resource: http://www.phpied.com/css-performance-ui-with-fewer-images/ */
.w_dropshadow{
	/* offset left, top, thickness, color with alpha */
	[safari|chrome]-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	}
.w_glow{
	[safari|chrome]-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
	}
.w_gradient_red{
	[firefox]background-image: -moz-linear-gradient(top, #641d1c, #f00);
	[safari|chrome]background-image: -webkit-gradient(linear, left top, left bottom, from(#641d1c), to(#f00));
	}
.w_transparent {
	background-color: transparent;
	background-color: rgba(200,200,200,0.8);
	}
.w_upsidedown {
	[firefox]-moz-transform: rotate(180deg);
	[firefox]-moz-transform-origin: bottom left;
	[safari|chrome]-webkit-transform: rotate(180deg);
	[opera]-o-transform: rotate(180deg);
	}
.w_rotate_up {
	/*firefox*/
	[firefox]-moz-transform: rotate(270deg);
	[firefox]-moz-transform-origin: bottom left;
	/*safari*/
	[safari]-webkit-transform: rotate(270deg);
	/*opera*/
	[opera]-o-transform: rotate(270deg);
	}
.w_rotate_down {
	[firefox]-moz-transform: rotate(90deg);
	[firefox]-moz-transform-origin: bottom left;
	[safari|chrome]-webkit-transform: rotate(90deg);
	[opera]-o-transform: rotate(90deg);
	[msie]writing-mode: tb-rl;
	}
/* Zoom styles */
.w_zoom {
   -webkit-transition: all .3s ease-out;
   [firefox]-moz-transition: all .3s ease-out;
   -o-transition: all .3s ease-out;
   transition: all .3s ease-out;
}
.w_zoom:hover {
	border: 1px outset #CCC;
   [firefox]-moz-transform: scale(2);
   -webkit-transform: scale(2);
   -o-transform: scale(2);
   transform: scale(2);
   -ms-transform: scale(2);
   }

/* diff styles */
.w_ins{
	background:#ddffdd;
	}
.w_del{
	background:#ffdddd;
	}
/* text rotation*/
.w_rotatetext{
	[msie]writing-mode: tb-rl;
	[safari|chrome]-webkit-transform: rotate(90deg);
	[firefox]-moz-transform: rotate(90deg);
	[firefox]-moz-transform-origin: bottom left;
	}
/* weather styles */
.w_weather tr td {font-size:9pt;}

/* Font Family styles */
.w_arial {font-family: Arial, Helvetica, sans-serif;}
.w_times {font-family:'Times New Roman', Times, serif;}
.w_comic {font-family:'Comic Sans MS', cursive;}
.w_palatino {font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;}
.w_verdana {font-family: Verdana, Geneva, sans-serif;}

/* Misc styles */
.w_left {float:left;}
.w_right {float:right;}
.w_text {color:#565A50;}
.w_bold {font-weight:bold;}
.w_border {border:1px solid #000;}
.w_block {display:inline-block !important;padding-right:2px;}
.w_pointer{cursor:pointer;}
.w_align_left{text-align:left;}
.w_align_right{text-align:right;}
.w_underline{text-decoration:underline;}
.w_borderbot{border-bottom:1px solid #000;}
.w_bordertop{border-top:1px solid #000;}

/*Padding and Margin */
.w_pad {padding:5px;}
.w_indent {padding-left:15px;}
.w_margin {margin:5px;}
.w_padding {padding:5px;}
.w_padleft{padding-left:20px;}
.w_padright{padding-right:20px;}
.w_marginleft{margin-left:20px;}
.w_marginright{margin-right:20px;}

/* Font Sizes */
.w_tiny {font-size:7pt;}
.w_smallest{font-size:8pt;}
.w_smaller{font-size:9pt;}
.w_small {font-size:10pt;}
.w_big {font-size:12pt;}
.w_bigger {font-size:14pt;}
.w_biggest {font-size:16pt;}
.w_huge {font-size:24pt;}

/*Colors - modified to match bootstrap button colors */
.w_black {color:#000;}
.w_white {color:#FFF;}
.w_dblue, .w_primary {color:#428bca;}
.w_lblue, .w_info {color:#5bc0de;}
.w_red, .w_danger {color:#d9534f;}
.w_orange, .w_warning {color:#f0ad4e;}
.w_green, .w_success {color:#5cb85c;}
.w_gray, .w_grey {color:#939393;}
.w_lgray, .w_lgrey {color:#f4f4f4;}
.w_required {color:#970000;}


.w_blackback  {background-color:#000;}
.w_whiteback  {background-color:#FFF;}
.w_dblueback, .w_primaryback  {background-color:#428bca;}
.w_lblueback, .w_infoback  {background-color:#5bc0de;}
.w_redback, .w_dangerback  {background-color:#d9534f;}
.w_orangeback, .w_warningback {background-color:#f0ad4e;}
.w_greenback, .w_successback  {background-color:#5cb85c;}
.w_grayback, .w_greyback {background-color:#939393;}
.w_lgrayback, .w_lgreyback {background-color:#f4f4f4;}
.w_gradientorange{
	[safari|chrome]background: -webkit-gradient(linear,left bottom,left top,color-stop(0.20, #ff7c3e),color-stop(0.70, #ff5400));
	[firefox]background: -moz-linear-gradient(center bottom,#ff7c3e 20%,#ff5400 70%);
}
.w_gradientblue{
	[safari|chrome]background: -webkit-gradient(linear,left bottom,left top,color-stop(0.20, #3465a4),color-stop(0.70, #6699CC));
	[firefox]background: -moz-linear-gradient(center bottom,#3465a4 20%,#6699CC 70%);
}
.w_gradientred{
	[safari|chrome]background: -webkit-gradient(linear,left bottom,left top,color-stop(0.20, #ff5e5e),color-stop(0.70, #970000));
	[firefox]background: -moz-linear-gradient(center bottom,#ff5e5e 20%,#970000 70%);
}

/* Popup Style*/
.w_popup {
	position:relative;
	padding:10px 15px 25px 15px;
	border:1px solid #939598;
	background-color:#FFFFFF;
	border-radius: 9px;
    [safari|chrome]-webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    box-shadow: 0px 1px 3px #818181;
    [safari|chrome]-webkit-box-shadow: 0px 1px 3px #818181;
	-khtml-box-shadow: 0px 1px 3px #818181;
	}
#centerpop, #centerpop2, #centerpop3, #centerpop4, #centerpop5, #centerpop6, #centerpop7, #centerpop8, #centerpop9, #remindMePopup, #popupdiv{
	animation-name: centerpopAnimate;
	-webkit-animation-name: centerpopAnimate;
	animation-duration: .3s;
	-webkit-animation-duration: .3s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
.w_centerpop {
	position: relative;
	padding:25px 0px 25px 0px;
	border:1px solid #939598;
	z-index:9990;
	background:#FFFFFF;
	border-radius: 6px;
    [safari|chrome]-webkit-border-radius: 6px;
    box-shadow: 0px 5px 30px #818181;
    [safari|chrome]-webkit-box-shadow: 0px 5px 30px #818181;
    -webkit-transition: height 1s ease;
	-moz-transition: height 1s ease;
	-ms-transition: height 1s ease;
	-o-transition: height 1s ease;
	transition: height 1s ease;
    
	}
@keyframes centerpopAnimate {
	0% {transform: scale(0);opacity: 0;}
	10% {transform: scale(.1);opacity: 0.1;}
	20% {transform: scale(.2);opacity: 0.2;}
	30% {transform: scale(.3);opacity: 0.3;}
	40% {transform: scale(.4);opacity: 0.4;}
	50% {transform: scale(.5);opacity: 0.5;}
	60% {transform: scale(.6);opacity: 0.6;}
	70% {transform: scale(.7);opacity: 0.7;}
	80% {transform: scale(.8);opacity: 0.8;}
	90% {transform: scale(.9);opacity: 0.9;}
	100% {transform: scale(1);opacity: 1;}
}
@-webkit-keyframes centerpopAnimate {
	0% {-webkit-transform: scale(0);opacity: 0;}
	10% {-webkit-transform: scale(.1);opacity: 0.1;}
	20% {-webkit-transform: scale(.2);opacity: 0.2;}
	30% {-webkit-transform: scale(.3);opacity: 0.3;}
	40% {-webkit-transform: scale(.4);opacity: 0.4;}
	50% {-webkit-transform: scale(.5);opacity: 0.5;}
	60% {-webkit-transform: scale(.6);opacity: 0.6;}
	70% {-webkit-transform: scale(.7);opacity: 0.7;}
	80% {-webkit-transform: scale(.8);opacity: 0.8;}
	90% {-webkit-transform: scale(.9);opacity: 0.9;}
	100% {-webkit-transform: scale(1);opacity: 1;}
}
.w_centerpop .w_centerpop_title{
	position:relative;
	left:0px;
	top:-25px;
	z-index:9991;
	background:#a7a8a9;
	color:#FFFFFF;
	width:inherit;
	white-space:nowrap;
	margin:0px;
	padding:3px 50px 3px 50px;
	text-align:center;
	border-top-right-radius: 6px;
    [safari|chrome]-webkit-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    [safari|chrome]-webkit-border-radius-topleft: 6px;
}
.w_centerpop .w_centerpop_drag{
	cursor:move;
	position:absolute;
	right:18px;
	top:-7px;
	width:24px;
	height:24px;
	z-index:9992
}
.w_centerpop .w_centerpop_close_top{
	position:absolute;
	right:-7px;
	top:-7px;
	width:24px;
	height:24px;
	cursor:pointer;
	z-index:9993;
}
.w_centerpop .w_centerpop_content{
	position:relative;
	top:-15px;
	padding:0px 10px 0px 10px;
}
.w_centerpop .w_centerpop_close_bot{
	position:absolute;
	right:-7px;
	bottom:-7px;
	width:24px;
	height:24px;
	cursor:pointer;
	z-index:9994;
}
/*wcart styles*/
.w_wcart {
	position: relative;
	padding:2px 1px 1px 1px;
	border:1px solid #dadada;
	z-index:8880;
	background-color:#dadada;
    border-top-right-radius: 7px;
    [safari|chrome]-webkit-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    [safari|chrome]-webkit-border-radius-topleft: 7px;
	}
.w_wcart_checkout{
	border:0px;
	}
.w_wcart_checkout td {
	padding: 2px 0px 2px 0px;
	border:0px;
	}
.w_roundtable th {
	background: #2E31B5;
	[firefox]background: -moz-linear-gradient(bottom, #5F63D4, #2E3191 17.5%, #5F63D4 87.2%, #2E31B5);
	[safari|chrome]background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#5F63D4), to(#2E31B5), color-stop(.175,#2E3191), color-stop(.872,#5F63D4));
	text-align:center;
	color:#fff;
	}
/* Calendar styles */
.w_calendar_div{
	position:absolute;
	background:#FFF;
	display:inline-block;
	padding:0px !important;
	margin:0px !important;
}
.w_calendar_table{
	background-color: #FFF !important;
}
.w_calendar_title{
	font-size:11px !important;
}
.w_calendar_month th{
	font-weight:bold !important;
	text-align:center !important;
	background-color:#FFF !important;
	color:#000 !important;
	}
.w_calendar_head th{
	font-weight:normal !important;
	border-collapse:collapse !important;
	padding:0px !important;
	background-color:#a7a8a9 !important;
	font-size:11px !important;
	color:#FFF !important;
	text-align:center !important;
}
.w_calendar_body th{
	font-family: Tahoma, Geneva, sans-serif !important;
	font-size: 11px !important;
	text-align:right !important;
	font-weight:normal !important;
	border-collapse:collapse !important;
	padding:0px !important;
	background-color:#337ab7 !important;
	color:#FFF !important;
	cursor: pointer !important;
}
.w_calendar_body th div, .w_calendar_body td div{
	height:20px !important;
	width:20px !important;
	margin:0px !important;
	padding:0px !important;
}
.w_calendar_body td{
	font-family: Tahoma, Geneva, sans-serif !important;
	font-size: 11px !important;
	text-align:right !important;
	border-collapse:collapse !important;
	padding:0px !important;
	color:#000 !important;
	border-bottom: 1px solid #dddddd !important;
	cursor: pointer !important;
}
.w_calendar_body td[class="today"]{
	background-color:#ffffa8 !important;
	color:#000 !important;
}
.w_calendar_body td:hover, .w_calendar_body th:hover, .w_calendar_time:hover{
	color:#fff !important;
	background-color:#dd1c1c !important;
	text-decoration:none !important;
}
.w_calendar tr:nth-child(even)[class="w_calendar_body"]{
	background-color:#f8f8f8 !important;
}
.w_calendar_times{
	height:120px !important;
	overflow:auto !important;
	border-top: 1px solid #dddddd !important;
	border-bottom: 1px solid #dddddd !important;
	border-left: 1px solid #dddddd !important;
}
.w_calendar_now{
	font-size:13px !important;
	font-family:arial !important;
	color:#961f24 !important;
	cursor:pointer !important;
}
.w_calendar_close{
	font-size:13px !important;
	font-family:arial !important;
	color:#961f24 !important;
	cursor:pointer !important;
	[safari|chrome]-webkit-border-radius: 4px !important;
	-khtml-border-radius: 4px !important;
	border-radius: 4px !important;
}
.w_calendar_time{
	padding-right:20px !important;
	border-bottom:1px solid #ddd !important;
	font-size:11px !important;
	display:block !important;
	width:100% !important;
	cursor:pointer;
}
.w_calendar_body td.active, .w_calendar_body th.active, .w_calendar_time.active, .w_calendar_time.active{
	color:#fff !important;
	background:#5cb85c !important;
	text-decoration:none !important;
}
/* misc*/
.w_drop {
	display:none;
	border-top:0px solid #B2B2B2;
	border-left:1px solid #B2B2B2;
	border-bottom:1px solid #7F9DB9;
	border-right:1px solid #7F9DB9;
	background:#FFF;
	padding:2px;
	position:absolute;
	font-size:9pt;
	height:150px;
	overflow:auto;
	}
/* Links */
.w_link {text-decoration:none;}
.w_link:hover {text-decoration:underline;}
.w_a{
     text-decoration:none;
     color:#6699CC;
	}
.w_a:hover{text-decoration:underline;}

.w_crumbs{font-size:9pt;color:#6699CC;position:relative;}
.w_crumbs td {font-size:9pt;}
.w_crumb{
	padding:0px;
	font-size:9pt;
    text-decoration:none;
    color:#6699CC;
	}
.w_crumb:hover{text-decoration:underline;}

.w_drop a, .w_block {
	text-decoration:none;
	display:block;
	padding-left:2px;
	}
.w_drop a:hover, .w_block:hover {
	background-color:#428bca;
	color:#FFFFFF;
	text-decoration:none;
	[safari|chrome]-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	}
	
.w_paging{
	width:185px;
	font-size:11pt;
	font-weight:bold;
	}

.w_body {
	margin:0px;
	padding:0px;
	font-size:10pt;
	background-color:#ffffff;
	}
/*Groupbox styles - use fieldset and legend to create a groupbox*/
.w_fieldset{
	border:1px solid #6699CC;
	margin-top:5px;
	padding:5px;
	display:inline;
	}
.w_fieldset:hover{
	background:#FDFDFD;
	border:1px solid #AB2E1E;
	}
.w_legend{
	padding:1px 5px;
	border:1px solid #000;
	font-size:10pt;
	color:#fff;
	background:#6699CC;
	}
#w_loginform label {
  float:left;
  width:75px;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  }
#w_loginform_default{
	background-color: #fff;
    padding: 15px;
    border:2px solid #3465a4;
    [safari|chrome]-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
    border-radius: 7px;
    display: table-cell;
}
/* Form styles. */
input[list]{
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAYAAADtj3ZXAAAAB3RJTUUH3wMHFxkH6cbPfQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAABaSURBVHjaY2RgYDAA4jkMxIEsID6FLrgOiP8TwNNwmSgNxJ/xaDwPxGz4nJSDQ+MHIFYn5B9mqA3omsOJDA9w4P1B0jiTWI0wMIFYf2IDPEB8gxh/4jOAIAAAbfwl/FxzevIAAAAASUVORK5CYII=');
	background-repeat:no-repeat;
	background-position:right;
	background-origin: content-box;
}
input[data-type=checkbox] + label, input[data-type=radio] + label { 
	cursor:pointer;
	padding:0 4px 0 2px;
	[safari|chrome]-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
}
input[data-type=checkbox]:checked + label, input[data-type=radio]:checked + label {
	background: #ffffc6;
	border:1px solid #ccc;

}

.w_form {margin:0px;padding:0px;}

.w_form input[type="submit"],.w_form input[type="reset"],.w_form input[type="cancel"] {
    background: none repeat scroll 0 0%, -moz-linear-gradient(#CCCCCC, #B3B3B3) repeat scroll 0 0 transparent;
    border: 1px solid rgba(45, 45, 45, 0.5);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #06223c;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    margin: 3px 0;
    padding: 3px 15px 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.w_form input[type="submit"]:hover,.w_form input[type="reset"]:hover,.w_form input[type="cancel"]:hover {
	background: none repeat scroll 0 0%, -moz-linear-gradient(#B3B3B3, #CCCCCC) repeat scroll 0 0 transparent;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 1px rgba(32, 32, 32, 0.2) inset;
	cursor:pointer;
	text-decoration:none;
}
*:before, *:after {
    box-sizing: border-box;
}
.w_form input[type="text"],.w_form input[type="password"],.w_form select, .w_form textarea {
   	padding: 4px;
	}
.w_checklist{
	border:none;
	cursor:pointer;
	}
.w_checklist_checked{
	border-bottom:1px solid red;
	background:#ffffc6;
	cursor:pointer;
	}

/* Styles used for help links */
.w_help{cursor:help;}
.w_helplink{
	cursor:help;
	text-align:center;
	font-size:8pt;
	color:#6699CC;
	padding-right:1px;
	padding-left:2px;
	border-top:1px solid #B2B2B2;
	border-left:1px solid #B2B2B2;
	border-bottom:1px solid #7F9DB9;
	border-right:1px solid #7F9DB9;
	}
.w_helpbox {
	background-color:#FFFFF4;
	color:#204A70;
	z-index:999;
	width:250px;
	font-size:10pt;
	}
.w_helptitle {
	background-color:#EAE9E3;
	color:#204A70;
	font-size:11pt;
	padding:2px;
	border-bottom:1px solid #c0c0c0;
	}

/* Style to wrap pre tags in Mozilla - Hidden from IE  - Mozilla only */
[firefox]pre{white-space: pre-wrap;}
.w_nowrap, .nowrap{
	white-space: nowrap;
}
.w_button {
	padding-bottom:1px;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	border:1px outset #6699CC;
	color:#000000;
	font-size:8pt;
	background:#E0DFE3;
	text-decoration:none;
	}
.w_button2{
	background-image:url(/wfiles/transparent.png);
	background-position: center;
	padding:0 10px 0 10px;
	text-decoration:none;
	}
.w_button2:hover {background-color: #F29222;}

/*Pure CSS Color buttons are created using http://css-tricks.com/examples/ButtonMaker/ */
/*Black Button*/
.w_button_black {
   border-top: 1px solid #515458;
   background: #191b1e;
   [safari|chrome]background: -webkit-gradient(linear, left top, left bottom, from(#282c31), to(#191b1e));
   [firefox]background: -moz-linear-gradient(top, #282c31, #191b1e);
   padding: 5px 10px;
   [safari|chrome]-webkit-border-radius: 8px;
   border-radius: 8px;
   [safari|chrome]-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.w_button_black:hover {
   border-top-color: #00a6c7;
   background: #00a6c7;
   color: #FFF;
   }
.w_button_black:active {
   border-top-color: #0092b6;
   background: #0092b6;
   }

/*Blue Button*/
.w_button_blue {
   border-top: 1px solid #96d1f8;
   background: #00bbde;
   [safari|chrome]background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#00bbde));
   [firefox]background: -moz-linear-gradient(top, #3e779d, #00bbde);
   padding: 4px 8px;
   [safari|chrome]-webkit-border-radius: 8px;
   border-radius: 8px;
   [safari|chrome]-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.w_button_blue:hover {
   border-top-color: #28597a;
   background: #00acca;
   color: #ffffff;
   }
.w_button_blue:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
/*w_button_gray*/
.w_button_gray {
   border-top: 1px solid #777777;
   background: #999999;
   [safari|chrome]background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#999999));
   [firefox]background: -moz-linear-gradient(top, #666666, #999999);
   padding: 4px 8px;
   [safari|chrome]-webkit-border-radius: 8px;
   border-radius: 8px;
   [safari|chrome]-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #fcfcfc;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.w_button_gray:hover {
   background: #666666;
   [safari|chrome]background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#666666));
   [firefox]background: -moz-linear-gradient(top, #999999, #666666);
   color: #fcfcfc;
   }
.w_button_gray:active {
   border-top-color: #999999;
   background: #999999;
   }
.w_clear{
	clear:both;
}
.w_noborder {
	border:0px;
}
.w_gradient{
	background-image:url(/wfiles/gradient.png);
	background-repeat: repeat-x;
	background-position: center;
	padding:0 10px 0 10px;
	text-decoration:none;
	}
.w_gradient:hover {background-color: #F29222;}
.w_gradient_up{
	background-image:url(/wfiles/gradient_up.png);
	background-repeat: repeat-x;
	background-position: center;
	padding:0 10px 0 10px;
	text-decoration:none;
	}
.w_gradient_up:hover {background-color: #F29222;}

.w_stripe{
	background-image:url(/wfiles/stripe.png);
	background-position: center;
	padding:0 10px 0 10px;
	text-decoration:none;
	}
.w_stripe:hover {background-color: #F29222;}

.w_tab{
	display: block;
	padding: 4px;
	background-color: #fafaf8;
	border: 1px solid #d5d0ba;
	border-top: 0px;
	color: #776655;
	font-weight:bold;
	font-size:12px;
	background-image:url('/wfiles/tab_right.gif');
	background-repeat:repeat-x;
	text-align: center;
	text-decoration: none;
	}
.w_tab:hover{
	color:#000;
	text-decoration: none;
	}
.w_tip{background-color:#FAFBD2;}
.w_button:hover{
     background:#D5D1C6;
	}
.w_button:active{
     border:1px inset #6699CC;
	}
ul.w_list { list-style-image: url("/wfiles/arrow.gif") }


/* Main content style */
#w_code {margin: 3%; padding: 7px; border: solid 1px #cccccc; background-color: #eeeeee; font-size:11pt; color: #000000;}
#w_code {clear:both; margin:0px; padding:2px; text-align:left; border: solid 1px #cccccc; background-color: #eeeeee; font-size:11pt; color: #000000;}

/*list style*/
.w_fancylist{}
.w_fancylist li{
	border:1px solid #555555;
	margin:5px;
	padding:5px;
	display:block;
	float:left;
	}
.w_fancylist li:hover{
	background:#FDFDFD;
	border:1px solid #6699cc;
	}
.w_fancylist li img{
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	}
/* Editor styles */
#w_editor_nav {
	padding-left:5px;
	padding-right:15px;
}
#w_editor_main{
	position:relative;
}
/* behavior styles */
.w_countdown th{
	font-size:24px;
	font-weight:bold;
	color:#0099cc;
	padding:10px;
}
.w_countdown td{
	font-size:16px;
	color:#0099cc;
}
/* Footer style */
#w_footer {clear:both; margin:0px;margin-top:5px; padding:2px; text-align:center; border: solid 1px #cccccc; background-color: #eeeeee; font-size:9pt; color: #000000;}

/* Gradients */
.w_gradient {
	background: #eeeeee;
	[firefox]background: -moz-linear-gradient(top, #eeeeee 1%, #cccccc 99%);
	[safari|chrome]background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eeeeee), color-stop(99%,#cccccc)); /* Chrome,Safari4+ */
	[safari|chrome]background: -webkit-linear-gradient(top, #eeeeee 1%,#cccccc 99%); /* Chrome10+,Safari5.1+ */
	[opera]background: -o-linear-gradient(top, #eeeeee 1%,#cccccc 99%); /* Opera 11.10+ */
}
/* CSS for Tabbed Content */
#tab_header {
  float:left;
  width:100%;
  border-bottom:1px solid #000;
  font-size:93%;
  line-height:normal;
  font-family:'Times New Roman',times,arial;
  }
#tab_header ul.tab, #tab_header ul.tab_blue, #tab_header ul.tab_red {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#tab_header li.tab, #tab_header li.tab_blue, #tab_header li.tab_red {
  float:left;
  margin:0;
  padding:0 0 0 9px;
  }
#tab_header li.tab, #tab_header li.tab_blue, #tab_header li.tab_red {
	[safari|chrome]-webkit-border-top-left-radius: 7px;
	-khtml-border-radius-topleft: 7px;	
	border-top-left-radius: 7px;
	[safari|chrome]-webkit-border-top-right-radius: 7px;
	-khtml-border-radius-topright: 7px;	
	border-top-right-radius: 7px;
	border:1px solid #000;
	border-bottom:0px;
	padding-bottom:0px;
	margin-bottom:0px;
	position:relative;
	bottom:-1px;
	[firefox]background-image: -moz-linear-gradient(top, #FFFFFF, #c5d4e6);
	[safari|chrome]background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#c5d4e6));
  }
#tab_header a.tab, #tab_header a.tab_blue, #tab_header a.tab_red {
	float:left;
	display:block;
	padding:3px 12px 2px 4px;
	text-decoration:none;
	float:none;
	color:#000;
	}

#tab_header a.tab:hover, #tab_header a.tab_blue:hover, #tab_header a.tab_red:hover {
  color:#970000;
  }
#tab_header li.current {
	border-bottom:1px solid #FFF;
	[firefox]background-image: -moz-linear-gradient(top, #c5d4e6,#FFFFFF);
	[safari|chrome]background-image: -webkit-gradient(linear, left top, left bottom, from(#c5d4e6), to(#FFFFFF));
}
/* Custom tooltips to replace title attributes adapted from http://davidwalsh.name/demo/css-tooltips.php */
#w_tooltip {
	background: #eee;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
}
/* top */
#w_tooltip:before {
	position: absolute;
	top: -7px;
	left: 4px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #eee;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
#w_tooltip:after {
	position: absolute;
	top: -6px;
	left: 5px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #eee;
	border-left: 6px solid transparent;
	content: '';
}
/* left */
#w_tooltip.left:before {
	border-top: 7px solid transparent;
	border-right: 7px solid #eee;
	border-bottom: 7px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.2);
	left: -14px;
	top: 4px;
}
#w_tooltip.left:after {
	border-top: 6px solid transparent;
	border-right: 6px solid #eee;
	border-bottom: 6px solid transparent;
	left: -12px;
	top: 5px;
}

/* mojozoom styles for zoom behavior on images */
div.mojozoom_marker {
	position : absolute;
	cursor : none; 
}
div.mojozoom_border {
	position : absolute;
	left:0px;
	top:0px;
	border : 1px solid black;
	width:100%;
	height:100%;
}
div.mojozoom_fill {
	position : absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color : white;
	opacity : 0.2;
	[firefox]-moz-opacity : 0.2;
	-khtml-opacity : 0.2;
	[msie lt 9]filter:alpha(opacity=20);
}
img.mojozoom_img {
	padding : 0px;
	border: 0px;
}
div.mojozoom_imgctr {
	position : absolute;
	margin-left : 20px;
	border : 1px solid black;
}

/* print only styles */
@media print {
	.w_noprint{display:none;}
	.w_noprint2{visibility:hidden;}
	.w_noprint3{display:none;}
	.w_printonly{display:block;}
	.w_printonly2{visibility:visible;}
}
@media screen {
	.w_noprint{display:block;}
	.w_noprint2{visibility:visible;}
	.w_noprint3{display:inline;}
	.w_printonly{display:none;}
	.w_printonly2{visibility:hidden;}
}

/*when using w_vcenter you should place w_preserve3d or w_vcenter_parent in the parent so that elements are not placed on a half-pixel that might cause it be blurry */
/*Reference: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css */
%w_preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.w_preserve3d{
	@extend %w_preserve-3d;
}
.w_vcenter_parent{
	@extend %w_preserve-3d;
}

/* Mobile device overrides*/
@media only screen and (max-device-width: 480px) {
	/* Font Sizes */
	.w_tiny {font-size:10pt;}
	.w_smallest{font-size:11pt;}
	.w_smaller{font-size:12pt;}
	.w_small {font-size:13pt;}
	.w_big {font-size:15pt;}
	.w_bigger {font-size:17pt;}
	.w_biggest {font-size:19pt;}
	.w_huge {font-size:27pt;}
	.w_form input[type="submit"],.w_form input[type="reset"],.w_form input[type="cancel"],.w_form button {
	    background: none repeat scroll 0 0%, -moz-linear-gradient(#CCCCCC, #B3B3B3) repeat scroll 0 0 transparent;
	    border: 1px solid rgba(45, 45, 45, 0.5);
	    border-radius: 5px 5px 5px 5px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
	    color: #06223c;
	    display: inline-block;
	    font-weight: 300;
	    line-height: 20px;
	    margin: 3px 0;
	    padding: 3px 15px 2px;
	    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	    font-size:16pt;
	}
	.w_form input[type="submit"]:hover,.w_form input[type="reset"]:hover,.w_form input[type="cancel"]:hover,.w_form button:hover {
		background: none repeat scroll 0 0%, -moz-linear-gradient(#B3B3B3, #CCCCCC) repeat scroll 0 0 transparent;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 1px rgba(32, 32, 32, 0.2) inset;
		cursor:pointer;
		text-decoration:none;
		font-size:16pt;
	}
	
	.w_form input[type="text"],.w_form input[type="password"],.w_form select, .w_form textarea {
	   	font-size:16pt;
	   	margin:2px;
	   	padding:2px;
	   	font-family:Arial, Helvetica, sans-serif;
	}
}
