@font-face {
  font-family: 'wasql_icons';
  src: url('/wfiles/fonts/wasql_icons.eot?57611094');
  src: url('/wfiles/fonts/wasql_icons.eot?57611094#iefix') format('embedded-opentype'),
       url('/wfiles/fonts/wasql_icons.woff?57611094') format('woff'),
       url('/wfiles/fonts/wasql_icons.ttf?57611094') format('truetype'),
       url('/wfiles/fonts/wasql_icons.svg?57611094#wasql_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "wasql_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;


  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
 
.icon-site-facebook-squared:before { content: '\e800'; } /* '' */
.icon-site-facebook:before { content: '\e801'; } /* '' */
.icon-site-twitter-bird:before { content: '\e802'; } /* '' */
.icon-site-twitter:before { content: '\e803'; } /* '' */
.icon-spin1:before { content: '\e804'; } /* '' */
.icon-site-youtube-play:before { content: '\e805'; } /* '' */
.icon-site-linkedin-squared:before { content: '\e806'; } /* '' */
.icon-site-linkedin:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-user-child:before { content: '\e809'; } /* '' */
.icon-cart:before { content: '\e80a'; } /* '' */
.icon-mark:before { content: '\e80b'; } /* '' */
.icon-checkbox:before { content: '\e80c'; } /* '' */
.icon-checkbox-empty:before { content: '\e80d'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-cc-visa:before { content: '\e80f'; } /* '' */
.icon-cc-mastercard:before { content: '\e810'; } /* '' */
.icon-cc-amex:before { content: '\e811'; } /* '' */
.icon-cc-discover:before { content: '\e812'; } /* '' */
.icon-chat:before { content: '\e813'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-database:before { content: '\e815'; } /* '' */
.icon-gear:before { content: '\e816'; } /* '' */
.icon-chart-area:before { content: '\e817'; } /* '' */
.icon-chart-bar:before { content: '\e818'; } /* '' */
.icon-chart-pie:before { content: '\e819'; } /* '' */
.icon-doc:before { content: '\e81a'; } /* '' */
.icon-user:before { content: '\e81b'; } /* '' */
.icon-users-group:before { content: '\e81c'; } /* '' */
.icon-user2-add:before { content: '\e81d'; } /* '' */
.icon-user2:before { content: '\e81e'; } /* '' */
.icon-logout:before { content: '\e81f'; } /* '' */
.icon-login:before { content: '\e820'; } /* '' */
.icon-wrench:before { content: '\e821'; } /* '' */
.icon-export:before { content: '\e822'; } /* '' */
.icon-floppy:before { content: '\e823'; } /* '' */
.icon-blogger-squared:before { content: '\e824'; } /* '' */
.icon-flag:before { content: '\e825'; } /* '' */
.icon-plus:before { content: '\e826'; } /* '' */
.icon-minus:before { content: '\e827'; } /* '' */
.icon-help-circled:before { content: '\e828'; } /* '' */
.icon-help:before { content: '\e829'; } /* '' */
.icon-cancel:before { content: '\e82a'; } /* '' */
.icon-cancel-circled:before { content: '\e82b'; } /* '' */
.icon-cancel-squared:before { content: '\e82c'; } /* '' */
.icon-move:before { content: '\e82d'; } /* '' */
.icon-spin5:before { content: '\e82e'; } /* '' */
.icon-spin4:before { content: '\e82f'; } /* '' */
.icon-spin3:before { content: '\e830'; } /* '' */
.icon-browser-firefox:before { content: '\e831'; } /* '' */
.icon-browser-ie:before { content: '\e832'; } /* '' */
.icon-browser-chrome:before { content: '\e833'; } /* '' */
.icon-user-male:before { content: '\e834'; } /* '' */
.icon-user-female:before { content: '\e835'; } /* '' */
.icon-info:before { content: '\e836'; } /* '' */
.icon-plus-squared-alt:before { content: '\e837'; } /* '' */
.icon-minus-squared-alt:before { content: '\e838'; } /* '' */
.icon-arrow-right:before { content: '\e839'; } /* '' */
.icon-arrow-left:before { content: '\e83a'; } /* '' */
.icon-arrow-down:before { content: '\e83b'; } /* '' */
.icon-arrow-up:before { content: '\e83c'; } /* '' */
.icon-site-pinterest-squared:before { content: '\e83d'; } /* '' */
.icon-site-pinterest:before { content: '\e83e'; } /* '' */
.icon-site-youtube:before { content: '\e83f'; } /* '' */
.icon-spin2:before { content: '\e840'; } /* '' */
.icon-spin6:before { content: '\e841'; } /* '' */
.icon-git-squared:before { content: '\e842'; } /* '' */
.icon-windows:before { content: '\e843'; } /* '' */
.icon-bookmark:before { content: '\e844'; } /* '' */
.icon-tools:before { content: '\e845'; } /* '' */
.icon-file-image:before { content: '\e846'; } /* '' */
.icon-traffic-cone:before { content: '\e847'; } /* '' */
.icon-erase:before { content: '\e848'; } /* '' */
.icon-key:before { content: '\e849'; } /* '' */
.icon-list:before { content: '\e84a'; } /* '' */
.icon-pencil:before { content: '\e84b'; } /* '' */
.icon-cc:before { content: '\e84c'; } /* '' */
.icon-list-add:before { content: '\e84d'; } /* '' */
.icon-trash:before { content: '\e84e'; } /* '' */
.icon-w3c:before { content: '\e84f'; } /* '' */
.icon-html5:before { content: '\e850'; } /* '' */
.icon-spin7:before { content: '\e851'; } /* '' */
.icon-spin8:before { content: '\e852'; } /* '' */
.icon-site-tumblr-squared:before { content: '\e853'; } /* '' */
.icon-site-tumblr:before { content: '\e854'; } /* '' */
.icon-site-skype:before { content: '\e856'; } /* '' */
.icon-edit:before { content: '\e857'; } /* '' */
.icon-comment-empty:before { content: '\e858'; } /* '' */
.icon-grid:before { content: '\e859'; } /* '' */
.icon-basket-2:before { content: '\e85a'; } /* '' */
.icon-sitemap:before { content: '\e85b'; } /* '' */
.icon-circle-empty:before { content: '\e85c'; } /* '' */
.icon-circle:before { content: '\e85d'; } /* '' */
.icon-site-gplus:before { content: '\e85e'; } /* '' */
.icon-git:before { content: '\e85f'; } /* '' */
.icon-site-gplus-squared:before { content: '\e860'; } /* '' */
.icon-sort-name-up:before { content: '\e861'; } /* '' */
.icon-sort-name-down:before { content: '\e862'; } /* '' */
.icon-mail-squared:before { content: '\e863'; } /* '' */
.icon-mail:before { content: '\e864'; } /* '' */
.icon-search:before { content: '\e865'; } /* '' */
.icon-group:before { content: '\e866'; } /* '' */
.icon-phone:before { content: '\e867'; } /* '' */
.icon-heart-empty:before { content: '\e868'; } /* '' */
.icon-heart:before { content: '\e869'; } /* '' */
.icon-list-small:before { content: '\e86a'; } /* '' */
.icon-droplet:before { content: '\e86b'; } /* '' */
.icon-th:before { content: '\e86c'; } /* '' */
.icon-th-list:before { content: '\e86d'; } /* '' */
.icon-trash-full:before { content: '\e86e'; } /* '' */
.icon-css:before { content: '\e86f'; } /* '' */
.icon-css3:before { content: '\e870'; } /* '' */
.icon-code:before { content: '\e871'; } /* '' */
.icon-file-code:before { content: '\e872'; } /* '' */
.icon-barcode:before { content: '\e873'; } /* '' */
.icon-qrcode:before { content: '\e874'; } /* '' */
.icon-mobile:before { content: '\e875'; } /* '' */
.icon-link:before { content: '\e876'; } /* '' */
.icon-color-adjust:before { content: '\e877'; } /* '' */
.icon-attach:before { content: '\e878'; } /* '' */
.icon-clipboard:before { content: '\e879'; } /* '' */
.icon-t-shirt:before { content: '\e87a'; } /* '' */
.icon-home:before { content: '\e87b'; } /* '' */
.icon-chart-line:before { content: '\e87c'; } /* '' */
.icon-download:before { content: '\e87d'; } /* '' */
.icon-export-alt:before { content: '\e87e'; } /* '' */
.icon-tag:before { content: '\e87f'; } /* '' */
.icon-tags:before { content: '\e880'; } /* '' */
.icon-flag2:before { content: '\e881'; } /* '' */
.icon-menu:before { content: '\e882'; } /* '' */
.icon-sort-down:before { content: '\e883'; } /* '' */
.icon-sort-up:before { content: '\e884'; } /* '' */
.icon-currency-dollar:before { content: '\e885'; } /* '' */
.icon-currency-pound:before { content: '\e886'; } /* '' */
.icon-currency-euro:before { content: '\e887'; } /* '' */
.icon-mail-forward:before { content: '\e888'; } /* '' */
.icon-mail-reply-all:before { content: '\e889'; } /* '' */
.icon-mail-reply:before { content: '\e88a'; } /* '' */
.icon-thumbs-up:before { content: '\e88b'; } /* '' */
.icon-thumbs-down:before { content: '\e88c'; } /* '' */
.icon-warning-empty:before { content: '\e88d'; } /* '' */
.icon-warning:before { content: '\e88e'; } /* '' */
.icon-database-empty:before { content: '\e88f'; } /* '' */
.icon-truck:before { content: '\e890'; } /* '' */
.icon-videocam:before { content: '\e891'; } /* '' */
.icon-plus:before { content: '\e892'; } /* '' */
.icon-video:before { content: '\e893'; } /* '' */
.icon-comment:before { content: '\e894'; } /* '' */
.icon-th-thumb:before { content: '\e895'; } /* '' */
.icon-th-thumb-empty:before { content: '\e896'; } /* '' */
.icon-emo-unhappy:before { content: '\e897'; } /* '' */
.icon-emo-happy:before { content: '\e898'; } /* '' */
.icon-slideshow:before { content: '\e899'; } /* '' */
.icon-blank:before { content: '\e89a'; } /* '' */
.icon-star-half-alt:before { content: '\e89b'; } /* '' */
.icon-star-half:before { content: '\e89c'; } /* '' */
.icon-star-empty:before { content: '\e89d'; } /* '' */
.icon-star:before { content: '\e89e'; } /* '' */
.icon-box:before { content: '\e89f'; } /* '' */
.icon-gift:before { content: '\e8a0'; } /* '' */
.icon-building:before { content: '\e8a1'; } /* '' */
.icon-food:before { content: '\e8a2'; } /* '' */
.icon-home2:before { content: '\e8a3'; } /* '' */
.icon-water:before { content: '\e8a4'; } /* '' */
.icon-fire:before { content: '\e8a5'; } /* '' */
.icon-snow:before { content: '\e8a6'; } /* '' */
.icon-sun2:before { content: '\e8a7'; } /* '' */
.icon-sun:before { content: '\e8a8'; } /* '' */
.icon-cloud:before { content: '\e8a9'; } /* '' */
.icon-rain-full:before { content: '\e8aa'; } /* '' */
.icon-stopwatch:before { content: '\e8ab'; } /* '' */
.icon-clock:before { content: '\e8ac'; } /* '' */
.icon-folder-open:before { content: '\e8ad'; } /* '' */
.icon-briefcase:before { content: '\e8ae'; } /* '' */
.icon-suitcase:before { content: '\e8af'; } /* '' */
.icon-print:before { content: '\e8b0'; } /* '' */
.icon-applications:before { content: '\e8b1'; } /* '' */
.icon-minus:before { content: '\e8b2'; } /* '' */
.icon-newspaper:before { content: '\e8b3'; } /* '' */
.icon-dir-down:before { content: '\e8b4'; } /* '' */
.icon-dir-up:before { content: '\e8b5'; } /* '' */
.icon-dir-left:before { content: '\e8b6'; } /* '' */
.icon-dir-right:before { content: '\e8b7'; } /* '' */
.icon-globe:before { content: '\e8b8'; } /* '' */
.icon-hash:before { content: '\e8b9'; } /* '' */
.icon-ticket:before { content: '\e8bc'; } /* '' */
.icon-apple:before { content: '\e8bd'; } /* '' */
.icon-lock-open:before { content: '\e8be'; } /* '' */
.icon-sliders:before { content: '\e8bf'; } /* '' */
.icon-dir-updown:before { content: '\e8c0'; } /* '' */
.icon-dots:before { content: '\e8c1'; } /* '' */
.icon-acrobat:before { content: '\e8c2'; } /* '' */
.icon-site-ebay:before { content: '\e8c3'; } /* '' */
.icon-site-amazon:before { content: '\e8c4'; } /* '' */
.icon-signal:before { content: '\e8c5'; } /* '' */
.icon-wifi:before { content: '\e8c6'; } /* '' */
.icon-refresh:before { content: '\e8c7'; } /* '' */
.icon-bell:before { content: '\e8c8'; } /* '' */
.icon-bug:before { content: '\e8cb'; } /* '' */
.icon-language:before { content: '\e8cd'; } /* '' */



