<view:default>
<div class="container-fluid">
	<div class="row-sm-12">
		<div>
			<div class="w_right w_lblue"><?=$git['status'];?></div>
			<div class="w_bigger w_lblue w_bold"><span class="icon-git"></span> Repo Manager - <?=$git['repo_path'];?></div>
		</div>
	</div>
	<div class="row-sm-12">
		<form method="post" name="gitform" action="/php/admin.php">
		<input type="hidden" name="_menu" value="git" />
		<input type="hidden" name="func" value="" />
		<input type="hidden" name="sort" value="<?$_REQUEST['sort'];?>" />
		<table class="table table-striped table-bordered table-hover table-condensed">
			<tr>
				<th><?=buildFormCheckAll('class','file');?></th>
				<th><a href="/php/admin.php?_menu=git&sort=name">Name</a></th>
				<th><a href="/php/admin.php?_menu=git&sort=ext">Type</a></th>
				<th><a href="/php/admin.php?_menu=git&sort=ext">Status</a></th>
				<th><a href="/php/admin.php?_menu=git&sort=size">Size</a></th>
				<th><a href="/php/admin.php?_menu=git&sort=_edate_age">Edited</a></th>
				<th><a href="/php/admin.php?_menu=git&sort=lines">Lines</a></th>
				<th>Commit Message</th>
			</tr>
			<view:_file>
			<tr>
				<td><input type="checkbox" data-type="<?=$file['type'];?>" data-status="<?=$file['status'];?>" data class="file" name="files[]" value="<?=encodeBase64($file['name']);?>" /></td>
				<td>
					<div class="w_right">
						<a href="#" class="w_link w_pad" onclick="return ajaxGet('/php/admin.php','centerpop',{_menu:'git',func:'diff',file:'<?=encodeBase64($file['name']);?>'});" title="diff"><span class="icon-hash"></span></a>
						<a href="#" class="w_link w_pad" onclick="return ajaxGet('/php/admin.php','centerpop',{_menu:'git',func:'log',file:'<?=encodeBase64($file['name']);?>'});"  title="log"><span class="icon-list"></span></a>
					</div>
					<?=$file['name'];?>
				</td>
				<td><a href="#" title="Check all off this type" onclick="return checkAllElements('data-type','<?=$file['type'];?>',1);"><?=$file['type'];?></a></td>
				<td><a href="#" title="Check all off this status" onclick="return checkAllElements('data-status','<?=$file['status'];?>',1);"><?=$file['status'];?></a></td>
				<td class="text-right"><?=$file['size_verbose'];?></td>
				<td class="text-right"><?=$file['_edate_age_verbose'];?></td>
				<td class="text-right"><?=$file['lines'];?></td>
				<td><input type="text" name="msg_<?=$file['guid'];?>" value="<?$key='msg_'.$file['guid'];return $_REQUEST[$key];?>" class="form-control input-sm" placeholder="commit message" /></td>
			</tr>
			</view:_file>
			<?=renderEach('_file',$git['files'],array('-alias'=>'file'));?>
		</table>
		<div class="row">
			<div class="col-sm-4">
				<input type="text" name="msg" value="<?=$_REQUEST['msg'];?>" class="form-control input-sm" placeholder="global commit message" />
			</div>
			<div class="col-sm-4">
				<input type="text" required="1" name="name" value="<?=$config['user.name'];?>" class="form-control input-sm" placeholder="your name" />
			</div>
			<div class="col-sm-4">
				<input type="email" required="1" name="email" value="<?=$config['user.email'];?>" class="form-control input-sm" placeholder="your email" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-warning" type="submit" onclick="document.gitform.func.value='pull';"><span class="icon-mail-reply"></span> Pull</button>
				<button class="btn btn-default" type="submit" onclick="document.gitform.func.value='checkout';"><span class="icon-mail-reply">-</span> Remove Selected Changes</button>
				<button class="btn btn-info" type="submit" onclick="document.gitform.func.value='add';"><span class="icon-plus"></span> Add Selected</button>
				<button class="btn btn-primary" type="submit" onclick="document.gitform.func.value='commit';"><span class="icon-checkbox"></span> Commit Selected</button>
				<button class="btn btn-danger" type="submit" onclick="document.gitform.func.value='push';"><span class="icon-mail-forward"></span> Push Committed</button>
				<button class="btn btn-success" type="submit" onclick="document.gitform.func.value='commit_push';"><span class="icon-checkbox"><span class="icon-mail-forward"></span></span> Commit and Push Selected</button>
			</div>
		</div>
		</form>
	</div>
</div>
</view:default>

<view:details>
	<div class="w_centerpop_title">Git File Contents - <?=$file['name'];?></div>
	<div class="w_centerpop_content">
		<textarea style="width:700px;height:400px;" data-behavior="<?=$behavior;?>"><?=encodeHtml($content);?></textarea>
	</div>
</view:details>

<view:diff>
	<div class="w_centerpop_title">Git File Diff - <?=$name;?></div>
	<div class="w_centerpop_content" style="max-height:500px;overflow:auto;">
	<view:_diffline>
		<div class="<?=$row['class'];?>"><?=$row['line'];?></div>
	</view:_diffline>
	<?=renderEach('_diffline',$diff['rows'],array('-alias'=>'row'));?>
	</div>
</view:diff>

<view:log>
	<div class="w_centerpop_title">Git File Log - <?=$name;?></div>
	<div class="w_centerpop_content" style="max-height:500px;overflow:auto;">
		<?=implode('<br>',$log['raw']);?>
	</div>
</view:log>