<view:default>
<div class="container-fluid">
	<div class="row-sm-12">
		<div class="w_bigger w_lblue w_bold"><span class="icon-file-code"></span> Temp Files Manager - <?=$tempdir;?></div>
	</div>
	<div class="row-sm-12">
		<form method="post" action="/php/admin.php">
		<input type="hidden" name="_menu" value="tempfiles" />
		<input type="hidden" name="sort" value="<?$_REQUEST['sort'];?>" />
		<table class="table table-striped table-bordered table-hover table-condensed">
			<tr>
				<th><?=buildFormCheckAll('class','file');?></th>
				<th><a href="/php/admin.php?_menu=tempfiles&sort=name">Name</a></th>
				<th><a href="/php/admin.php?_menu=tempfiles&sort=ext">Ext</a></th>
				<th><a href="/php/admin.php?_menu=tempfiles&sort=size">Size</a></th>
				<th><a href="/php/admin.php?_menu=tempfiles&sort=_cdate_age">Age</a></th>
				<th><a href="/php/admin.php?_menu=tempfiles&sort=_adate_age">Last Used</a></th>
				<th><a href="/php/admin.php?_menu=tempfiles&sort=_edate_age">Last Edited</a></th>
				<th><a href="/php/admin.php?_menu=tempfiles&sort=lines">Lines</a></th>
			</tr>
			<view:_file>
			<tr>
				<td><input type="checkbox" class="file" name="delete[]" value="<?=encodeBase64($file['name']);?>" /></td>
				<td><a href="#" onclick="return ajaxGet('/php/admin.php','centerpop',{_menu:'tempfiles',file:'<?=encodeBase64($file['name']);?>'});"><?=getFileName($file['name'],1);?></a></td>
				<td><?=$file['ext'];?></td>
				<td class="text-right"><?=$file['size_verbose'];?></td>
				<td class="text-right"><?=$file['_cdate_age_verbose'];?></td>
				<td class="text-right"><?=$file['_adate_age_verbose'];?></td>
				<td class="text-right"><?=$file['_edate_age_verbose'];?></td>
				<td class="text-right"><?=$file['lines'];?></td>
			</tr>
			</view:_file>
			<?=renderEach('_file',$files,array('-alias'=>'file'));?>
		</table>
		<button class="btn btn-primary" type="submit">Remove Selected Files</button>
		</form>
	</div>
</div>
</view:default>

<view:details>
	<div class="w_centerpop_title">Temp File Details - <?=$file['name'];?></div>
	<div class="w_centerpop_content">
		<textarea style="width:700px;height:400px;" data-behavior="<?=$behavior;?>"><?=encodeHtml($content);?></textarea>
	</div>
</view:details>